Source: arduino-reader 
Section: tools
Priority: optional
Maintainer: Vaclav Rak <rak@webwye.services>
Build-Depends: debhelper (>=9),dh-python
Standards-Version: 3.9.6
Homepage: http://webeye.services/
#Vcs-Git: git://anonscm.debian.org/collab-maint/image-postprocesor.git


Package: arduino-reader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},python3 (>=3.1),python3-pip
Description: read serial codes from arduino
 ARDUINO SERIAL CODE READER
 ==========================

read all codes from arduino and set it in all appropriate targets
